	.card{
			border-radius: 4px;
			background: #fff;
			box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
			transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);			
		}
		.card:hover{
			transform: scale(1.03);
			box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
		}

		
  		.ajax-load{
  			/* background-color: #e1e1e1; */
        /* left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        width: 50px;
        height: 50px; */
        padding: 10px 0px;
		    width: 100%;
  		}